<div class="Card" >

  <img class = "contentIcon" src="assets/imgs/logo-santander-plus.svg" alt="iconCard" >

  <div class ="contentInfo">
    <h1 class= "title">
      {{value_alias}}
    </h1>
    <p [ngClass]="cuentaEnCeros ? 'info-zero' : 'info'">
      {{value_disponible}}
      <span class = "coins">
        {{value_divisa}}
      </span>
    </p>
    <div class ="footNote">
      <p>
        {{value_numCuenta}}
      </p>
      <span>
      </span>
      <p>
        {{value_cuentaMovil}}
      </p>
    </div>

  </div>



</div>
