<div class="Card" [ngClass]="valueSelected ? 'active' : ''" >

  <img *ngIf="valueSp" class = "contentIcon" src="assets/imgs/logo-santander-plus.svg" alt="iconCard" >

  <div class ="contentInfo">
    <h1 class= "title">
      {{valueAlias}}
    </h1>
    <div [hidden]="!cuentaTodos">
      <p class="todas">Todas las cuentas</p>
    </div>
    <div [hidden]="cuentaTodos">
      <p [ngClass]="cuentaEnCeros ? 'info-zero' : 'info'" [hidden]="cuentaTodos">
        {{valueDisponible}}
        <span class = "coins">
          {{valueDivisa}}
        </span>
      </p>
      <div class ="footNote">
        <p>
          {{valueNumCuenta}}
        </p>
        <span>
        </span>
        <p>
          {{valueCuentaMovil}}
        </p>
      </div>
    </div>
  </div>



</div>
