<p class="textComenzar">¡Bienvenido a!</p>
<img src="../../assets/imgs/logo-santander-plus.svg"
		 class="logo-santander-plus">
<p class="textComenzar">Para comenzar a recibir los beneficios es indispensable:</p>
<ul>
	  <li>Tener su nómina en Santander</li>
	  <li>Utilizar la Banca Digital Santander</li>
</ul>
<p class="textComenzar">En caso de no tener nómina con Santander, debe contar con uno o varios depósitos al mes en su(s) cuenta(s) Santander</p>

<p class="textComenzar">Principales beneficios:</p>
<ul>
	  <li>Le devolvemos dinero por domiciliar servicios participantes</li>
	  <li>Remuneraciones por el saldo en Dinero Creciente</li>
	  <li>Bonificación por consumo en comercios participantes</li>
	  <li>Consulte términos y condiciones en santander.com.mx</li>
</ul>
<div class="btnCont">
  <button type="button" (click)="onBtnActionClickedV()">Inscribir</button>
</div>
