* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Open Sans';
}

ul, li{
  list-style: disc !important;
}

.textComenzar {
	font-size: 16px;
	font-weight: 300;
	text-align: left;
	color: #424242;
}

.textCenter{
  text-align: center;
}
