<div class = "contentTop" >
  <img src="assets/imgs/ico-cta-exitosa.svg" alt="iconCard" >
  <p> Solicitud {{valueStatus}}</p>
</div>
<span>Recepción de Nómina</span>
<div class ="divider"></div>
<div class = "contentDatos">
  <p class = "left" > Número de cuenta donde desea recibir su nómina </p>
  <p class = "rigth" >{{accountWhereWishReceive}}</p>
</div>
<div class ="divider"></div>
<div class = "contentDatos">
  <p class = "left" > BANCO DONDE DESEA RECIBIR SU NÓMINA </p>
  <p class = "rigth" >{{bankWhereWishReceive}}</p>
</div>
<div class ="divider"></div>
<div class = "contentDatos">
  <p class = "left" > NÚMERO DE CUENTA DONDE RECIBE SU NÓMINA ACTUALMENTE</p>
  <p class = "rigth" >{{accountWhereReceive}}</p>
</div>
<div class ="divider"></div>
<div class = "contentDatos">
  <p class = "left" > BANCO DONDE RECIBE SU NÓMINA ACTUALMENTE</p>
  <p class = "rigth" >{{bankWhereReceive}}</p>
</div>
<div class ="divider"></div>
<div class = "contentDatos">
  <p class = "left" > TIPO DE OPERACIÓN</p>
  <p class = "rigth" >Recepción de nómina</p>
</div>
<div class ="divider"></div>
<div class = "contentDatos">
  <p class = "left" > FOLIO DE OPERACIÓN </p>
  <p class = "rigth" >{{referenceSheet}}</p>
</div>
<div class ="divider"></div>
<div class = "contentDatos">
  <p class = "left" > FECHA DE OPERACIÓN </p>
  <p class = "rigth" >{{dateOperation}}</p>
</div>
<div class ="divider"></div>
<div class = "contentDatos">
  <p class = "left" > HORA DE OPERACIÓN</p>
  <p class = "rigth" >{{hoursOperation}}</p>
</div>
<div class ="divider"></div>
<div class = "contentDatos">
  <p class = "left" > REFERENCIA SUPERMÓVIL </p>
  <p class = "rigth" >{{referenceOperation}}</p>
</div>
<div class ="divider"></div>
<div class = "contentDatos">
  <p class = "left" > Fecha de aceptación
o rechazoN </p>
  <p class = "rigth" >{{dateAcceptance}}</p>
</div>
<div class ="divider"></div>
<div class = "contentDatos">
  <p class = "left" > Motivo de rechazo </p>
  <p class = "rigth" ></p>
</div>
<div class ="divider"></div>
<div class = "contentDatos">
  <p class = "left" > Origen de operación </p>
  <p class = "rigth" ></p>
</div>
