<div class = "contentTop" >
  <img src="assets/imgs/ico-cta-exitosa.svg" alt="iconCard" >
  <p> Inscripción exitosa </p>
<div class ="divider"></div>
</div>
<!-- <div class = "contentScreenShot">
  <img class = "inline" src="assets/imgs/ico-screenshot.svg" alt="iconCard" >
  <p class = "inline"> Obtener imagen de esta pantalla </p>
</div> -->
<div class ="divider"></div>
<div class = "contentDatos">
  <p class = "left label" > Número de cuenta seleccionada </p>
  <p class = "rigth bold" >{{accountWhereWishReceive}}</p>
</div>
<div class ="divider"></div>
<div class = "contentDatos">
  <p class = "left label" > Tipo de operación </p>
  <p class = "rigth bold" >Inscripción a Santader Plus</p>
</div>
<div class ="divider"></div>
<div class = "contentDatos">
  <p class = "left label" > Fecha de operación </p>
  <p class = "rigth bold" >{{dateOperation}}</p>
</div>
<div class ="divider"></div>
<div class = "contentDatos">
  <p class = "left label" > Hora de operación </p>
  <p class = "rigth bold" >{{hoursOperation}}</p>
</div>
<div class ="divider"></div>
<div class = "contentDatos">
  <p class = "left" > Referencia supermóvil </p>
  <p class = "rigth bold" >{{referenceOperation}}</p>
</div>
<div class ="divider"></div>
<div class="btnCont">
  <a id="something" onclick="hideBackButton()"></a>
  <button  type="button" (click)="finalizar()">Continuar</button>
</div>
<app-message-alert></app-message-alert>
