<div class = "contentTop" >
  <img src="assets/imgs/ico-cta-exitosa.svg" alt="iconCard" >
  <p> Inscripción exitosa </p>
<div class ="divider"></div>
</div>
<!-- <div class = "contentScreenShot">
  <img class = "inline" src="assets/imgs/ico-screenshot.svg" alt="iconCard" >
  <p class = "inline"> Obtener imagen de esta pantalla </p>
</div> -->
<div class ="divider"></div>
<div class = "contentDatos">
  <p class = "left label" > NÚMERO DE CUENTA SELECCIONADA </p>
  <p class = "rigth bold" >{{accountWhereWishReceive}}</p>
</div>
<div class ="divider"></div>
<div class = "contentDatos">
  <p class = "left label" > TIPO DE OPERACIÓN </p>
  <p class = "rigth bold" >Inscripción a Santader Plus</p>
</div>
<div class ="divider"></div>
<div class = "contentDatos">
  <p class = "left label" > FECHA DE OPERACIÓN </p>
  <p class = "rigth bold" >{{dateOperation}}</p>
</div>
<div class ="divider"></div>
<div class = "contentDatos">
  <p class = "left label" > HORA DE OPERACIÓN </p>
  <p class = "rigth bold" >{{hoursOperation}}</p>
</div>
<div class ="divider"></div>
<div class = "contentDatos">
  <p class = "left" > REFERENCIA SUPERMÓVIL </p>
  <p class = "rigth bold" >{{referenceOperation}}</p>
</div>
<div class ="divider"></div>
<div class="btnCont">
  <a id="something" onclick="hideBackButton()"></a>
  <button  type="button" (click)="finalizar()">Continuar</button>
</div>
<p class="footnote-trade">Banco Santander (México), S.A.</p>
<app-message-alert></app-message-alert>
