$margin-med : 15px;
$font-stack: 'Open Sans';
$font-stack: 'Open Sans';
$margin-top: 25px;
$width-med: 91%;
$color-main-font: #2d2d2d;
$red-color: #e80004;

:host {
    margin: 0;
    padding: 0;

    display: block;
    margin-top: $margin-top;
    margin-left: auto;
    margin-right: auto;
    width: $width-med;
    &.center{
      margin-top: $margin-top * 2;
      text-align: center;
      font-size: 14px;
    }

    .frame {
            margin-top: 30px;
        background-color: #e6e6e6;
        border: 0;
        overflow: hidden;
        margin: 0;
        width: 100%;

    }
  .contentCarr {
      width: 100% !important;
      height: 161px;
      background-color: #e6e6e6;
      display: flex;
      display: -webkit-flex; /* NEW */


    /* overflow-x: scroll; */
    // app-card-info{
    //   margin-left: 10%;
  	// 	margin-top: auto;
  	// 	margin-bottom: auto;
    //   &.multi{
  	// 	margin-left: 10%;
  	// 	margin-top: auto;
  	// 	margin-bottom: auto;
  	// 	}
    //   &.one{
  	// 		margin: auto;
  	// 	}
    //
    // }
  }
}

@media screen and (min-width: 768px) {
  :host {
    .contentCarr {
      /* width: 100% !important; */
      height: 161px;
      background-color: #e6e6e6;
      display: -webkit-box;

      &.verifica{
        display: flex;
        display: -webkit-flex; /* NEW */
      }
    }
  }
}



/*
.contentCarr {
	width: auto;
	height: 161px;
	background-color: #e6e6e6;
  display: flex;
  overflow-x: scroll;
  app-card-info{
		&.multi{
    	margin-left: 10%;
    	margin-top: auto;
    	margin-bottom: auto;
		}&.one{
			margin: auto;
		}
  }
}
*/
