<p class="bienvenido-a">Bienvenido a</p>
<p class="imagen"><img alt='' src="../../assets/imgs/logo-santander-plus.svg" class="logo-santander-plus"></p>
<div class="para-comenzar-a-reci">
  <p class="text-style-1">Para comenzar a recibir los beneficios es indispensable:</p>
  <ul class="lista-plus">
  	  <li>Tener su nómina en <strong>Santander</strong></li>
  	  <li>Utilizar la <strong>Banca Digital Santander</strong></li>
  </ul>
  <p class="text-style-3">En caso de no tener nómina con Santander, debe contar con uno o varios depósitos al mes en su(s) cuenta(s) Santander.</p>
  <p class="text-style-4"> <strong>Principales beneficios:</strong> </p>
  <ul class="lista-plus">
  	  <li>Le devolvemos dinero por domiciliar servicios participantes</li>
  	  <li>Remuneraciones por el saldo en <strong>Dinero Creciente</strong></li>
  	  <li><strong>Bonificación por consumo</strong> en comercios participantes</li>
  </ul>

</div>
<p class="por-favor-cualquier">
  Por favor cualquier duda o aclaración comuníquese a la línea de
  Santander Plus al
  01800 0101123.
</p>
<div class="btnCont">
  <a id="goRoot" onclick="quitPorta()"></a>
  <button  type="button" (click)="finalizar()">Finalizar</button>
</div>
<app-message-alert></app-message-alert>
