.bienvenido-a {
	width: 325px;
	height: 24px;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	color: #424242;
	padding:0 15px;
}
.imagen{
	text-align: center;
}
.logo-santander-plus {
	width: 184px;
	height: 34px;
	object-fit: contain;
	text-align: center;
	margin:20px;
}
.para-comenzar-a-reci {
	width: 334px;
	height: 397px;
	font-size: 16px;
	font-weight: 300;
	text-align: left;
	color: #424242;
}

.para-comenzar-a-reci .text-style-1 {
	font-weight: 600;
	padding:0 15px;
}

.para-comenzar-a-reci .text-style-2 {
	font-weight: normal;
	padding:0 15px;
}

.para-comenzar-a-reci .text-style-3 {
	font-weight: normal;
	padding:0 15px;
}
.para-comenzar-a-reci .text-style-4 {
	font-weight: normal;
	padding:0 15px;
}

.por-favor-cualquier {
	width: 323px;
	height: 88px;
	font-size: 16px;
	text-align: center;
	color: #424242;
}
.por-favor-cualquier {
	width: 323px;
	height: 88px;
	font-size: 16px;
	text-align: center;
	color: #424242;
}
ul.lista-plus{
  margin: 15px;
  margin-left: 35px;
  li{
    list-style-image: url('../../assets/imgs/bullet.svg');
  }
}
