<div class="controls minTop">
  <p class="labelInst">Ingrese los números que recibió por mensaje SMS.</p>
  <input type="number" name="name" [(ngModel)]="sms" placeholder="8 dígitos">
</div>
<div class="controls minTop">
  <p class="labelInst">Fecha de nacimiento:</p>
  <input type="date" name="name" [(ngModel)]="birthdate" class="fecha" placeholder="día / mes / año">
</div>
<p class="labelInst">¿No ha recibido el SMS?</p>
<p class="labelInst textCenter reenviar"><a>Para reenviar el código, <span>TOQUE AQUÍ</span></a></p>
