<div class="controls minTop">
  <p class="labelInst">Ingrese los números que recibió por mensaje SMS.</p>
  <label for="sms"></label>
  <input id="sms" type="text" name="sms" [(ngModel)]="sms" placeholder="8 dígitos" (keyup)="validateField('code')" onkeydown="if(this.value.length > 7 && event.keyCode != 8) return false">
</div>
<div class="controls minTop">
  <p class="labelInst">Fecha de nacimiento:</p>
  <label for="birthdate"></label>
  <input id="birthdate" type="date" name="birthdate" [(ngModel)]="birthdate" class="fecha" placeholder="mes / día / año" (keyup)="validateField('date')" (change)="validateField('date')">
</div>
<p class="labelInst">¿No ha recibido el SMS? <img alt='' src="../../assets/imgs/ico-tooltip.svg" class="ico-tooltip">
</p>
<p class="labelInst textCenter reenviar" (click)="reenviar()"><a>Para reenviar el código, <span>TOQUE AQUÍ</span></a></p>
<div class="btnCont">
  <a id="validaSesion" onclick="validaSesion()"></a>
  <button [disabled]="isInvalid()" type="button" (click)="continuar()">Continuar</button>
</div>
 <app-message-alert></app-message-alert>
