  .fecha {
    background-image: url('../../../assets/imgs/group-copy.svg');
    background-repeat: no-repeat;
    background-position: 95% center;
  }
  .reenviar a{
  	width: 243px;
  	height: 19px;
  	font-size: 14px;
  	text-align: center;
  	color: #e80004;
    span{
      font-weight: 600;
      text-decoration: underline;
    }
  }
  label{
    display: none !important;
  }
