<div class = "contentTop" >
  <img src="assets/imgs/ico-cta-exitosa.svg" alt="iconCard" >
  <p> Solicitud de portabilidad
realizada exitosamente </p>
<div class ="divider"></div>
</div>
<!-- <div class = "contentScreenShot">
  <img class = "inline" src="assets/imgs/ico-screenshot.svg" alt="iconCard" >
  <p class = "inline"> Obtener imagen de esta pantalla </p>
</div> -->
<div class ="divider"></div>
<div class = "contentDatos">
  <p class = "left" > BANCO DONDE DESEA RECIBIR SU NÓMINA </p>
  <p class = "rigth" >{{bankWhereWishReceive}}</p>
</div>
<div class ="divider"></div>
<div class = "contentDatos">
  <p class = "left" > Número de cuenta donde desea recibir su nómina </p>
  <p class = "rigth" >{{accountWhereWishReceive}}</p>
</div>
<div class ="divider"></div>
<div class = "contentDatos">
  <p class = "left" > BANCO DONDE RECIBE SU NÓMINA ACTUALMENTE</p>
  <p class = "rigth" >{{bankWhereReceive}}</p>
</div>
<div class ="divider"></div>
<div class = "contentDatos">
  <p class = "left" > NÚMERO DE CUENTA DONDE RECIBE SU NÓMINA ACTUALMENTE</p>
  <p class = "rigth" >{{accountWhereReceive}}</p>
</div>
<div class ="divider"></div>
<div class = "contentDatos">
  <p class = "left" > TIPO DE OPERACIÓN</p>
  <p class = "rigth" >Recepción de nómina</p>
</div>
<div class ="divider"></div>
<div class = "contentDatos">
  <p class = "left" > FOLIO DE OPERACIÓN </p>
  <p class = "rigth" >{{referenceSheet}}</p>
</div>
<div class ="divider"></div>
<div class = "contentDatos">
  <p class = "left" > FECHA DE OPERACIÓN </p>
  <p class = "rigth" >{{dateOperation}}</p>
</div>
<div class ="divider"></div>
<div class = "contentDatos">
  <p class = "left" > HORA DE OPERACIÓN</p>
  <p class = "rigth" >{{hoursOperation}}</p>
</div>
<div class ="divider"></div>
<div class = "contentDatos">
  <p class = "left" > REFERENCIA SUPERMÓVIL </p>
  <p class = "rigth" >{{referenceOperation}}</p>
</div>
<div class ="divider"></div>
<div class="btnCont">
  <button  type="button" (click)="onBtnActionClickedV()">Finalizar</button>
</div>
