$margin-med: 33px;
.header{

    height: auto;

    text-align: center;

      margin-top: $margin-med;
  .logo-santander-03{
    float: none;
    width: 53px;
    height: 53px;
  }
}

.modal{
  z-index: 2000;
  .body{
    left: 0;
    top: 0;
    //width: 279px;
	  // height: 281px;
    height: 400px;
    width: 80%;
	  border-radius: 5px;
	  background-color: #ffffff;
    margin: auto;
    padding: 10px 10px;
  }
  h1{
    text-align: center;
    font-size: 18px;
  	font-weight: 700;
  }
  .textFix {
    margin-top: $margin-med;
    height: auto;
    width: 94%;
  	font-size: 16px;
  	font-weight: 300;
  	text-align:center;
  	color: #424242;
    white-space: normal;
  }
  .divider {
    margin: 10px 0 0 0;
  }
}
.footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  p{
      padding: 12px 0;
      color: #e80004;
      font-size: 15px;
      font-weight: 700;
  }
  :hover{
    cursor: pointer;
  }
}
