
<div class="modal" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">

      <div class="modal body">
        <div class = "header">
          <img src="{{icon}}"
		      class="logo-santander-03">
          </div>
          <h1>{{title}}</h1>
        <p class = "textFix" [innerHTML]="message"></p>
        <div class = "footer" (click)="hide()" [hidden]="hasAction" >
          <div class ="divider"></div>
          <p>Aceptar</p>
        </div>
        <div class = "footer" onClick="quitPorta()" [hidden]="!hasAction" >
          <div class ="divider"></div>
          <p>Aceptar</p>
        </div>
      </div>
    </div>
<div class="modal-background"></div>
