.header{
	width: 100%;
	height: 43px;
	background-color: #be0006;
	position: relative;
	p{
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 19px;
		font-size: 16px;
		text-align: center;
		color: #ffffff;
		margin: auto;
		font-weight: 300;
	}
}
.contentMain {
	width: 96%;
	// height: 42px;
  height: 50px;
  position: relative;
  display: block;
	padding-top: 15px;
	padding-left: 2%;
  padding-right: 2%;
	margin-bottom: 10px;

	position: fixed;
	top: 0;
	left: 0;
	background: white;
	z-index: 1000;

	p{
    position: relative;
    float: left;
    &.right{
      float: right;
    }
  }
}
.step {
	position: absolute !important;
  border-radius: 50%;
	width: 26px;
	height: 26px;
	background-color: #ffffff;
	border: solid 2px #e80004;
  span{
    position: absolute;
		width: 8px;
		height: 19px;
		top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  	font-family: 'Open Sans';
    font-size: 14px;
    color: #505050;
		margin: auto;
  }
}
.labelStep {

  top: 13%;
  // margin-left: 3%;
	// margin-left: 6%;
  font-family: 'Open Sans';
	font-size: 14px;
	color: #4a4a4a;
  &.right{
    margin-left: 0;
    margin-right: 1%;
    color: #4a4a4a;
    font-weight: 300;
	  line-height: 1.99;

		position: absolute !important;
		top: 18px;
	  right: 1%;
  }
	&.title{
		width: 100%;
		text-align: center;
		height: 26px;
	}
}
.progessBar {
	margin-top: 11px;
  position: relative;
  display: block;
	width: 100%;
	height: 4px;
	background-color: #d8d8d8;
  float: left;
  span{
    position: absolute;
    width: 33%;
    height: 4px;
    top: 0;
    background-color: #e80004;
  }
}

@media screen and (max-width: 320px) {
	.labelStep {
		font-size: 12px;
	}
}

// @media screen and (min-width: 360px) {
// 	.labelStep {
// 		&.title {
// 			width: 80%;
// 		}
// 	}
// }
//
// @media screen and (min-width: 414px) {
// 	.labelStep {
// 		&.title {
// 			width: 80%;
// 		}
// 	}
// }
//
// @media screen and (min-width: 768px) {
// 	.labelStep {
// 		&.title {
// 			width: 80%;
// 		}
// 	}
// }
//
// @media screen and (min-width: 1024px) {
// 	.labelStep {
// 		&.title {
// 			width: 80%;
// 		}
// 	}
// }
//
// @media screen and (min-width: 1366px) {
// 	.labelStep {
// 		&.title {
// 			width: 80%;
// 		}
// 	}
// }
