<p class="textCenter topSpace"> CUENTA SELECCIONADA </p>
<app-cards></app-cards>
<p class="textCenter topSpace"> Conozca algunos de los beneficios que podrá obtener con <b>Santander Plus:</b> </p>
<p class="labelInst min"></p>
  <ul class="lista-plus">
    <li>Bonificación por domiciliación de servicios.</li>
    <li>Rendimiento en <b>Dinero Creciente.</b></li>
    <li>Bonificación por <b>consumo en comercios.</b></li>
  </ul>

<p class="textCenter topSpace"> Recuerde que el programa no tiene costo. </p>
<div class="btnCont">
  <button  type="button" (click)="sendAltaService()" >Inscribir</button>
</div>
<app-message-alert></app-message-alert>
