<p class="textCenter topSpace"> CUENTA SELECCIONADA </p>
<app-cards></app-cards>
<p class="textCenter topSpace"> Conozca algunos de los beneficios que podrá obtener con <strong>Santander Plus:</strong> </p>
<p class="labelInst min"></p>
  <ul class="lista-plus">
    <li>Bonificación por domiciliación de servicios.</li>
    <li>Rendimiento en <strong>Dinero Creciente.</strong></li>
    <li>Bonificación por <strong>consumo en comercios.</strong></li>
  </ul>

<p class="textCenter topSpace"> Recuerde que el programa no tiene costo. </p>
<div class="btnCont">
  <button  type="button" (click)="sendAltaService()" >Inscribir</button>
</div>
<app-message-alert></app-message-alert>
