
<p class="textCenter topSpace"> CUENTA SELECCIONADA </p>
<app-cards></app-cards>
<p class="textCenter topSpace"> Conozca algunos de los beneficios que podrá obtener con Santander Plus: </p>
<p class="labelInst min">
  Bonificación por domiciliación de servicios.
  Rendimiento en Dinero Creciente.
  Bonificación por consumo en comercios.
</p>
<p class="textCenter topSpace"> Recuerde que el programa no tiene costo. </p>
<div class="btnCont">
  <button  type="button" (click)="subscribe()" >inscribir</button>
</div>
