<app-cards></app-cards>
<app-menu></app-menu>
<div
  *ngFor="let moves of totalMov">
  <div class="bullet"><div ><span></span></div><p>{{moves.fechaEnvio}}</p></div>
  <app-moves
    [valueCuentaBanco]="moves.cuentaBanco"
    [valueCuentaCliente]="moves.cuentaCliente"
    [valueEstatus]="moves.estatus"
    [valueTipoSolicitud]="moves.tipoSolicitud"
    [accountWhereWishReceive] = "moves.cuentaCliente"
    [bankWhereWishReceive] = ""
    [accountWhereReceive] = "moves.cuentaBanco"
    [bankWhereReceive] = "moves.banco.nombreCorto"
    [referenceSheet] = "moves.folio"
    [dateOperation] = "moves.fechaEnvio"
    [hoursOperation] = "moves.horaEnvio"
    [referenceOperation] = "moves.referenciaOperacion"
    [dateAcceptance] = "moves.fechaEnvio"
    [rejectionMotive] = "moves.motivoRechazo"
    [tipoSolicitud] = "moves.tipoSolicitud"
    [originOperation] = "moves.origen"
    >
  </app-moves>

</div>
<app-message-alert></app-message-alert>
