ul.contentFilter {
  margin: 3%;
  width: 94%;
  height: 29px;
  border-radius: 4px;
  border: solid 1px #e80004;
  list-style: none;
  li{
    float: left;
    width: 33.3%;
    a {
      float: left;
      text-align: center;
      text-decoration: none;
      font-size: 13px;
      color: #e80004;
      margin-top: 5px;
      width: 99%;
    }
    .divider {
      float: right;
      margin: 0;
      height: 30px;
      width: 1px;
      border: none;
      background: red;
    }
  }
}
