
<app-cards></app-cards>
<p class = "question">{{copies.title}}</p>
<p class = "labelInst">{{copies.textInst1}}</p>
<div class = "contentRadioBtns">
<label class = "labelRadioBtn">
  <input type="radio"  name="inputSelected" checked =true
  (change) = "onSelectionChange(1)">
  <p>{{copies.radioText1}}</p>
</label>
<label class = "labelRadioBtn right">
  <input type="radio"  name="inputSelected"
  (change) = "onSelectionChange(2)">
  <p>{{copies.radioText2}}</p>
</label>
</div>
<p class = "labelInst min">{{value_label_CLABE}}</p>
<div class="controls minTop">
      <input type="text" name="name" (keyup)="onKey($event)" [attr.maxlength]="maxLength" [(ngModel)]="tarjetValue" placeholder={{value_placeholder_CLABE}}>
      <!-- <label for="name" [className]="classLabel">{{value_placeholder_CLABE}}</label> -->
</div>
<p class = "labelInst">
  {{copies.textInstBanco}}
</p>

<select [className] = "classSelBank"  [disabled]="bankDisable" #selectElem (change)="setNewUser(selectElem.value)">
        <option  *ngFor="let user of lUsers" [value]="user.id">
            {{user.Name}}
        </option>
</select>

<!-- <div class="contentSelect minTop">
  <p [className] = "classSelBank">{{selectedBank}}</p>
</div> -->
<div class="divider"></div>
<p class = "question">{{copies.textInstDatos}}</p>
<app-personal-card class="minTop"></app-personal-card>
<p class="labelInst min textCenter"> {{copies.textNote}}</p>
<div class="contentSwich">
    <p><a (click)="modal1.show(terminosText)">Ver términos y condiciones</a></p><br/><br/>
    <p><input #saveTermCheckBox
      id="saveTermCheckBox"
      type="checkbox"
      [checked]="validTerms"
      (change)="validTerms = !validTerms"
      class="cbx "/>
    <!-- <label for="saveTermCheckBox" class="lbl"></label> -->
    Acepto terminos y condiciones de portabilidad de nómina. </p>
 </div>
 <div class="btnCont">
   <button [disabled]="isInvalid()" type="button" (click)="onBtnActionClickedV()">Continuar</button>
 </div>
 <app-terms  #modal1></app-terms>
 <app-message-alert></app-message-alert>
