
<div class="modal" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
      <div class="modal body">
        <div class = "header">
          <img src="assets/imgs/logo-santander-03.svg"
		      class="logo-santander-03">
          <h1>Términos y condiciones</h1>
          <img src="assets/imgs/btn-close.svg"
		        class="btn-close" (click)="hide()">
        </div>
        <div class ="divider"></div>
        <div class="text-scroll">
          <p class = "textFix" [innerHTML]="terminosText.texto"></p>
        </div>
        <!-- <div class ="divider"></div>
        <div class="btnCont">
          <button  type="button" (click)="returnSubmit()" >Acepto términos y condiciones</button>
        </div> -->

      </div>

  </div>
<div class="modal-background"></div>
