<div class = "contentTop" >
  <img src="assets/imgs/ico-cta-exitosa.svg" alt="iconCard" >
  <p> Cambio exitoso </p>
</div>
<div class="contentDatos">
<p class="textCenter">A partir de este momento recibirá los beneficios de Santander Plus en la cuenta seleccionada.</p>
</div>
<div class ="divider"></div>
<!-- <div class = "contentScreenShot">
  <img class = "inline" src="assets/imgs/ico-screenshot.svg" alt="iconCard" >
  <p class = "inline"> Obtener imagen de esta pantalla </p>
</div> -->
<div class ="divider"></div>
<div class = "contentDatos">
  <p class = "left label" > Número de cuenta anterior </p>
  <p class = "rigth bold" >{{accountWhereReceive}}</p>
</div>
<div class ="divider"></div>
<div class = "contentDatos">
  <p class = "left label" > Número de cuenta seleccionada </p>
  <p class = "rigth bold" >{{accountWhereWishReceive}}</p>
</div>
<div class ="divider"></div>
<div class = "contentDatos">
  <p class = "left label" > Tipo de operación </p>
  <p class = "rigth bold" >CAMBIO DE CUENTA INSCRITA SANTANDER PLUS</p>
</div>
<div class ="divider"></div>
<div class = "contentDatos">
  <p class = "left label" > Fecha de operación </p>
  <p class = "rigth bold" >{{dateOperation}}</p>
</div>
<div class ="divider"></div>
<div class = "contentDatos">
  <p class = "left label" > Hora de operación </p>
  <p class = "rigth bold" >{{hoursOperation}}</p>
</div>
<div class ="divider"></div>
<div class = "contentDatos">
  <p class = "left label" > Referencia supermóvil </p>
  <p class = "rigth bold" >{{referenceOperation}}</p>
</div>
<div class ="divider"></div>
<div class="btnCont">
  <a id="something" onclick="hideBackButton()"></a>
  <button  type="button" onclick="quitPorta()">Finalizar</button>
</div>
<p class="footnote-trade">Banco Santander (México), S.A.</p>
<app-message-alert></app-message-alert>
